.main-carousel {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: 'Inconsolata', sans-serif;
    margin-top: 20vh;
}

.inner-carousel {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    position: relative;
}
.carousel-project {
    margin-top: 100px;
    color: white;
    font-family: 'Inconsolata', sans-serif;
    text-align: center;
}
.carousel-project-title {
    font-size: 60px;
    font-weight: 700;
    color: white;
    margin-bottom: 30px;
    text-align: center;
}

.carousel-project-description {
    font-size: 20px;
    color: white;
    text-align: center;
}
.slide-show {
    width: 600px;
}

.c-item{
    height: 480px;
}

.c-img{
    height: 100%;
    object-fit: cover;
}

.d-block {
    border: white;
    border-style: solid;
    border-width: 2px;
}

@media only screen and (max-width: 430px) {
    .slide-show {
        width: 75%;
    }
}
@media only screen and (max-width: 1118px) {
    .slide-show {
        width: 75%;
    }
}