.contenitore {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    position: relative;
}

.titolo-progetti {
    font-size: 60px;
    font-weight: 700;
    color: white;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
}

.descrizione-progetti {
    margin-right: 20px;
    font-size: 20px;
    color: white;
    text-align: center;
}

.c-item{
    height: 480px;
}

.c-img{
    height: 100%;
    object-fit: cover;
}

.carosello {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Inconsolata', sans-serif;
    margin-top: 15vh;
}

.contenitore {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    position: relative;
}

.d-block {
    border: white;
    border-style: solid;
    border-width: 2px;
}

.progetti{
    color: white;
    font-family: 'Inconsolata', sans-serif;
    text-align: center;
    margin-left: 200px;
    margin-top: 200px;
}

.slide {
    margin-left: 150px;
    margin-top: 80px;
}

@media only screen and (max-width: 40em) {
    .progetti {
        margin-top: 10px;
        margin-left: 4vh;
    }
    .descrizione-progetti{
        margin-left: 3vh;
        margin-bottom: 3vh;
    }
    .carousel-inner {
        margin-right: 20vh;
        margin-left: 5vh;
    }
}

@media only screen and (max-width: 90em) {
    .header {
        min-width: 55vw;
    }

    .foto {
        max-width: 80vw;
        margin-left: 5vh;
        margin-bottom: 3vh;
    }
}
        
@media only screen and (max-width: 40em) {
    .header {
        min-width: 80vw;
    }   
}